.menuLink{
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;

}
.imgMenuSablier{
    width: 100px;
}
.oneLink{
    margin: 30px;
    color: black;
    text-decoration: none;
}
.oneLink:hover{
  font-size: 17px;
}